@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-account4:before {
	content: "\e000";
}
.flaticon-black394:before {
	content: "\e001";
}
.flaticon-black398:before {
	content: "\e002";
}
.flaticon-google132:before {
	content: "\e003";
}
.flaticon-hide3:before {
	content: "\e004";
}
.flaticon-settings49:before {
	content: "\e005";
}
.flaticon-user157:before {
	content: "\e006";
}
.flaticon-user158:before {
	content: "\e007";
}
.flaticon-users25:before {
	content: "\e008";
}
